body{
    background-image: url(background-image.png);
    background-size:150%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: 'Bebas Neue', sans-serif;
}
.main-container{
    background-color: rgb(231, 231, 231);
    overflow: hidden;
    width: 140vh;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 20px;  
    box-shadow:-20px -20px 20px rgb(0, 0, 0),
    20px 20px 20px rgb(0, 0, 0);
}
.overwrite{
    padding: 1vh;
    color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 71%;
    background-color: rgba(0, 0, 0, 0.397);
    width: 63.7vh;
    
}
.overwrite .overwrite-text{
    text-decoration: none;
    color: inherit;
}
.image-container .overwrite img{
    width: 30px;
    height: 30px;
}
.image-container img{
    height: 92vh;
}
.initial_para{
    padding-top:5vh;
    font-size: 2rem;
}
.second_para{
    font-size: 1.5rem;
}
.form_container{
    padding: 5vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.create_btn{
    font-size: 1rem;
    font-family: inherit;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: solid 1px black;
    border-radius: 10px;
    cursor: pointer;
}
.create_btn:hover{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
input{
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    border: 0px;
    padding: 5px;
}
form{
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
}
.label_input{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 45%;
}