body{
    background-image: url(background-image.png);
    background-color: rgb(46, 46, 46);
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: 'Bebas Neue', sans-serif;
}
.main-container{
    background-color: rgb(231, 231, 231);
    overflow: hidden;
    width: 140vh;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 20px;  
    box-shadow:-20px -20px 20px rgb(0, 0, 0),
    20px 20px 20px rgb(0, 0, 0);
}
.overwrite{
    padding: 1vh;
    color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 71%;
    background-color: rgba(0, 0, 0, 0.397);
    width: 63.7vh;
    
}
.image-container .overwrite img{
    width: 30px;
    height: 30px;
}
.image-container img{
    height: 92vh;
}
.initial_para{
    padding-top:5vh;
    font-size: 30px;
}
.second_para{
    font-size: 20px;
}
.form_container{
    padding: 5vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}